<div class="container">

  <h1>My Profile</h1>

    <h2>My details</h2>
      <div class="card-profile" >
        <%= image_tag current_user.avatar_url, class: "avatar-square-large" %>
        <div class="card-profile-details">
          <p>First name: <%= @user.first_name %></p>
          <p>Last name: <%= @user.last_name %></p>
          <p>Username: <%= @user.username %></p>
        </div>
      </div>

    <ul class="nav nav-tabs">
      <li class="active nav-item"><button class="nav-link active" data-toggle="tab" href="#home">Lessons booked</button></li>
      <li class="nav-item"><button class="nav-link" data-toggle="tab" href="#menu1">Lessons created</button></li>
    </ul>

    <div class="tab-content">

      <div id="home" class="tab-pane fade show active">
        <h3>Lessons booked</h3>
          <% @lessons_booked.each do |booking| %>
            <div class="card-profile-lesson">
              <div class="thumb" style="background-image: url('<%= booking.lesson.picture_url %>')"></div>
              <div class="card-profile-lesson-details">
                <p><%= link_to booking.lesson.title, lesson_path(booking.lesson)  %></p>
                <p><%=  booking.time.strftime("at %I:%M %p")  %></p>
                <p><%=  booking.date %></p>
                <%= button_to "Cancel Booking", booking, method: :delete,
                data: { turbo_confirm: "Are you sure you want to cancel #{booking.lesson.title}?"}, class: "btn btn-danger"%>
              </div>
            </div>
          <% end %>
      </div>

      <div id="menu1" class="tab-pane fade">
        <h3>Lessons created</h3>
          <% @lessons_created.each do |lesson| %>
            <div class="card-profile-lesson">
              <div class="thumb" style="background-image: url('<%= lesson.picture_url %>')"></div>
              <div class="card-profile-lesson-details">
                <p><%= link_to lesson.title, lesson_path(lesson)  %></p>
                <p><%= link_to "Edit", edit_lesson_path(lesson), class: "btn btn-info"  %></p>
            </div>
          <% end %>
      </div>

    </div>

</div>
