<div class="container">
      <div>
        <p>

        </p>
        <h1>My Profile</h1>
        <p>

        </p>
      </div>
         <div class="card-profile" >
            <%= image_tag current_user.avatar_url, class: "avatar-square-large" %>
            <div style="font-weight: bold" class="card-profile-details">
              <p style="font-size: 15px">My details</p>
              <p style="font-size: 15px">First name: <%= @user.first_name %></p>
              <p style="font-size: 15px">Last name: <%= @user.last_name %></p>
              <p style="font-size: 15px">Username: <%= @user.username %></p>
            </div>
      </div>

    <ul class="nav nav-tabs">
      <li class="active nav-item"><button class="nav-link active" data-toggle="tab" href="#home">Lessons booked</button></li>
      <li class="nav-item"><button class="nav-link" data-toggle="tab" href="#menu1">Lessons created</button></li>
    </ul>

    <div class="tab-content">

      <div id="home" class="tab-pane fade show active">
        <p>

        </p>
        <h3>Lessons booked</h3>
          <div class="cards-profile-lesson">
            <% @lessons_booked.each do |booking| %>
              <div class="card-profile-lesson">
                <img class="img" src='<%= booking.lesson.picture_url %>'>
                <div class="card-profile-lesson-details">
                  <p><%= link_to booking.lesson.title, lesson_path(booking.lesson)  %></p>
                  <p><%=  booking.time.strftime("at %I:%M %p")  %></p>
                  <p><%=  booking.date %></p>
                  <%= button_to "Cancel", booking, method: :delete,
                  data: { confirm: "Are you sure you want to cancel #{booking.lesson.title}?"}, class: "btn btn-danger"%>
                </div>
              </div>
            <% end %>
          </div>
      </div>

      <div id="menu1" class="tab-pane fade">
              <p>

        </p>
        <h3>Lessons created</h3>
          <div class="cards-profile-lesson">
            <% @lessons_created.each do |lesson| %>
              <div class="card-profile-lesson">
                <img class="img" src='<%= lesson.picture_url %>'>
                <div class="card-profile-lesson-details">
                  <p><%= link_to lesson.title, lesson_path(lesson)  %></p>
                <ul>
                              <p>

        </p>
                  <%= link_to "Edit", edit_lesson_path(lesson), class: "btn btn-info"  %>
                  <%= button_to "Delete", lesson, method: :delete, class: "btn btn-danger"%>
                </ul>
                              <p>

        </p>
                </div>
              </div>
            <% end %>
          </div>
      </div>

    </div>

</div>
