<div class="container">

  <h1>My Profile</h1>

    <h2>My details</h2>
      <div class="card-profile" >
        <%= image_tag user.avatar_url, class: "avatar-square-large" %>
        <div class="card-profile-details">
          <p>First name: <%= @user.first_name %></p>
          <p>Last name: <%= @user.last_name %></p>
          <p>Username: <%= @user.username %></p>
        </div>
      </div>

    <h2>List of lessons booked</h2>

      <div class="cards-profile-lesson">
        <% @bookings_ordered.each do |booking| %>
          <div class="card-profile-lesson">
            <img src="https://res.cloudinary.com/dab0abars/image/upload/v1644071771/sabrina-wendl-h2NlwNkA2h8-unsplash_oyzmw1.jpg" alt="Rock Climbing">
            <div class="card-profile-lesson-details">
              <p><%= link_to booking.lesson.title, lesson_path(booking.lesson)  %></p>
              <p><%=  booking.date %></p>
              <p><%=  booking.time.strftime("at %I:%M%p")   %></p>
              <p><%=  booking.destroy %></p>
            </div>
          </div>
        <% end %>
      </div>

    <h2>List of lessons created</h2>

      <div class="cards-profile-lesson">
        <% @lessons_created.each do |lesson| %>
          <div class="card-profile-lesson">
            <img src="https://res.cloudinary.com/dab0abars/image/upload/v1644071771/sabrina-wendl-h2NlwNkA2h8-unsplash_oyzmw1.jpg" alt="Rock Climbing">
            <div class="card-profile-lesson-details">
              <p><%= link_to lesson.title, lesson_path(lesson) %></p>
              <p><%= link_to 'Edit', edit_lesson_path(lesson), class: "btn btn-primary" %></p>
            </div>
          </div>
        <% end %>
      </div>

</div>
