<div class="container">

  <h1>My Profile</h1>

    <h2>My details</h2>
      <div class="card-profile" >
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-square-large" %>
        <div class="card-profile-details">
          <p>First name: <%= @user.first_name %></p>
          <p>Last name: <%= @user.last_name %></p>
          <p>Username: <%= @user.username %></p>
        </div>
      </div>

    <ul class="nav nav-tabs">
      <li class="active nav-item"><button class="nav-link active" data-toggle="tab" href="#home">Lessons booked</button></li>
      <li class="nav-item"><button class="nav-link" data-toggle="tab" href="#menu1">Lessons created</button></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade show active">
        <h3>Lessons booked</h3>
          <% @lessons_booked.each do |booking| %>
            <div class="container">
              <p><%= link_to booking.lesson.title, lesson_path(booking.lesson)  %></p>
              <p>Time: <%=  booking.time %></p>
              <p>Date: <%=  booking.date %></p>
            </div>
          <% end %>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Lessons created</h3>
          <% @lessons_created.each do |lesson| %>
            <div class="container">
              <p><%= link_to lesson.title, lesson_path(lesson)  %></p>
            </div>
          <% end %>
      </div>
    </div>

</div>
