<div class="navbar navbar-expand-sm navbar-light navbar-bookable">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="<%=asset_path('logo.png')%>">
      <%# use the above to add image on page %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <form class="form-inline" action="/lessons">
            <div class="form-group">
              <label class="sr-only" for="search">Search:</label>
              <input type="text" class="form-control" id="params[:query]" placeholder="Find a lesson" name="query">
            </div>
            <button type="submit" class="btn btn-primary" style=">Search</button>
          </form>
        <%# <div class="navbar-nav-tabs"> %>
          <li class="nav-item">
            <%= link_to "Home", root_path , class: "nav-link #{controller.controller_name == 'pages' ? 'active' : '' } " %>
          </li>
          <li class="nav-item">
            <%= link_to "Lessons", lessons_path, class: "nav-link #{controller.controller_name == 'lessons' && controller.action_name == 'index' ? 'active' : ''}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add a lesson", new_lesson_path, class: "nav-link #{controller.controller_name == 'lessons' && controller.action_name == 'new' ? 'active' : ''}" %>
          </li>
        <%# </div> %>
        <li class="nav-item dropdown">
          <%= image_tag current_user.avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", bookings_path, class: "dropdown-item" %>
            <%# <%= link_to "My Lessons", "#", class: "dropdown-item" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item mb-0" %>
          </div>
        </li>
        <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
