<h1>List of available lessons</h1>

<% @lessons.each do |lesson| %>
  <div class="container">
    <p><%= link_to "#{lesson.title}", lesson_path(lesson)  %></p>
    <p><%= lesson.description %></p>
    <p><%= lesson.date %></p>
    <p><%= lesson.time %></p>
    <p><%= lesson.location %></p>
  </div>
<% end %>

<%= link_to 'Edit', edit_lesson_path(@lesson) %>
