<div class="container">

  <div class="card-container">
    <h1><%= @lesson.title %></h1>
    <p><%= @lesson.description %></p>
    <p><%= @lesson.location %></p>
  </div>

  <div class="card-container">
  <h2>Book the lesson</h2>
    <%= simple_form_for [ @lesson, @booking ] do |f| %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.submit "Book lesson", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>


  <%# <%= link_to "Book #{@lesson.title}",
              lesson_bookings_path(@lesson, title: @lesson.title, description: @lesson.description, location: @lesson.location, date: @lesson.date, time: @lesson.time),
              method: :post,
              data: { confirm: "Are you sure?" },
              class: "btn btn-primary" %>
