<div class="container">
  <p><%= @lesson.title %></p>
  <p><%= @lesson.description %></p>
  <p><%= @lesson.date %></p>
  <p><%= @lesson.time %></p>
  <p><%= @lesson.location %></p>
 </div>

<h1>Book a new lesson</h1>

<%= link_to "Book #{@lesson.title}",
            lesson_bookings_path(@lesson, title: @lesson.title, description: @lesson.description, location: @lesson.location, date: @lesson.date, time: @lesson.time),
            method: :post,
            data: { confirm: "Are you sure?" } %>
