<div class="container">
  <h1><%= @lesson.title %></h1>
  <p><%= @lesson.description %></p>
  <p><%= @lesson.date %></p>
  <p><%= @lesson.time %></p>
  <p><%= @lesson.location %></p>
 </div>

 <%= link_to 'Edit', edit_lesson_path(@lesson) %>

<h2>Book the lesson</h2>

<%= link_to "Book #{@lesson.title}",
            lesson_bookings_path(@lesson, title: @lesson.title, description: @lesson.description, location: @lesson.location, date: @lesson.date, time: @lesson.time),
            method: :post,
            data: { confirm: "Are you sure?" } %>
